.navBar {
    width: 100%;
    background-color: #00A79D;
    height: 60px;
    position: fixed;
    top: 0;
    z-index: 1;
}

.navBarItems {
    display: flex;
    align-items: center;
    list-style: none;
    height: 100%;
}

.navBarItems li {
    padding: 0 20px 0 20px;
    color: white;
}